* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #1e1e1e;
}

main {
    overflow: none;
}

.btn {
    --btn-height: 35px !important;
    --btn-border-radius: 2px !important;
    --btn-font-size: 12px !important
}

.material-tooltip {
    background: #2e3133 !important;
    color: white !important;
}

.material-tooltip>* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.code {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.pageinit_error {
    box-shadow: #000 0 10px 50px 0;
    padding: 20px;
    background: rgb(104, 0, 0);
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.light {
    background-color: white !important;
}

.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    width: 250px;
    text-align: left;
    background-color: transparent;
    border-left: solid 1px #393939;
    border-right: solid 1px #393939;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-buttons {
    display: grid;
    gap: 10px;
}

.sidebar-buttons>button {
    display: flex;
    justify-content: center !important;
    /*background-color: #1c1c1c !important;*/
}

.blur {
    filter: blur(2px);
}

.hide {
    display: none;
}

.loadingtext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}


.toolbox-hidden {
    transform: translateX(-200%) !important;
}

a {
    text-decoration: none;
    color: rgb(0, 96, 206);
}

a:hover {
    cursor: pointer !important;
    border-bottom: solid 1px rgb(0, 96, 206);
}

.modal {
    --modal-border-radius: 5px !important;
    padding-bottom: 5px !important;
}


.modal-trigger {
    cursor: pointer !important;
}

.select-dropdown {
    color: white;
    cursor: pointer;
}

body.light~.select-dropdown {
    color: black !important;
}

.select-wrapper>ul {
    cursor: pointer !important;
}

.input-field.col>label {
    left: 0 !important;
}

.setting>.input-field {
    margin: 0;
    margin-left: auto !important;
}

.setting>.input-field>input {
    height: 2.5rem !important;
    padding-top: 0 !important;
}

.setting.input-field>.select-wrapper {
    margin-left: auto !important;
}

.setting.input-field {
    margin-bottom: 5px;
}

.input-field>label {
    display: none;
}

.material-icons {
    margin-right: 5px;
    pointer-events: none;
}

.info-version {
    margin-left: 10px;
}

.monaco {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.modal,
.modal-footer {
    background-color: #1e1e1e !important;
}

.modal-close {
    margin-right: 5px !important;
}

.infomodal-openbtn,
.sidenav-openbtn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 5px;
    left: 5px;
    width: 25px !important;
    height: 25px !important;
    box-shadow: none !important;
    overflow: visible !important;
}

.settings-open {
    top: 30px;
}

.sidenav-openbtn:hover {
    border: none;
    box-shadow: none;
}

*[notif-count]::before {
    content: attr(notif-count);
    position: absolute;
    bottom: 0;
    right: 0;
    background: #4caf50 !important;
    border-radius: 5em !important;
    width: 5px;
    height: 5px;
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    text-wrap: wrap;
}

*[notif-count="0"]:before,
.updates-new-label[notif-count="0"] {
    display: none !important;
}

.updates-new-label {
    content: attr(notif-count);
    background: #4caf50 !important;
    border-radius: 3em;
    width: 15px;
    height: 15px;
    font-size: 11px;
    position: absolute;
    margin-left: 5px;
    transform: translateY(-5px);
    text-align: center;
    align-content: center;
}

.leftmenu-sidebar {
    overflow-x: hidden !important;
}

.leftmenu-sidebar>.user-view {
    padding: 0 !important;
}

.account-info-background {
    overflow: hidden;
    height: 150px;
    filter: blur(1px);
}

.infomodal-openbtn>.material-icons,
.sidenav-openbtn>.material-icons {
    font-size: 15px;
    margin-right: 0;
    color: white;
}

.toast {
    user-select: none;
}

.setting {
    height: 29px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.setting {
    margin-top: 15px;
}

.setting-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-info {
    font-size: 17px !important;
    margin-left: 5px;
    background-color: #333333;
    border-radius: 1em;
    padding: 1px;
}

.setting>label {
    margin-left: auto;
}

.range-field,
.range-field>input {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.slider-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 5px;

}

.slider-setting>.slider-value {
    margin-left: 5px;
}

.slider-value {
    min-width: 30px !important;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important
}

.settings-grid {
    display: grid;
}

.seperator {
    border-bottom: solid 1px #3b3b3b;
    height: 1px;
    padding-bottom: 5px;
}

.settings-grid>.seperator {
    margin-top: 15px;
}

.sidebar-buttons>.seperator {
    width: 100%;
    height: 1px;
}

.seperator-margin {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 15px !important;
}

.seperator.text {
    height: auto;
    background-color: transparent;
    border-bottom: solid 1px #3b3b3b;
    text-align: center;
    font-size: 13px;
    user-select: none;
}

.sidebar-title {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.rbxc_update,
.acc_login,
.acc_logout {
    height: 20px !important;
    line-height: 20px !important;
    font-size: 13px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.acc_logout {
    margin-left: 5px;
}

.acc_login {
    margin-right: 5px;
    margin-left: 5px;
}

#discord-avatar {
    width: 50px;
    margin-left: 5px;
    border-radius: 5em;
    box-shadow: 5px 5px 5px -3px black;
}

.info-content {
    margin-bottom: 5px
}

.info-content>small {
    align-items: center;
}

.presetsbtn {
    margin-left: 10px !important;
}

.preset>code {
    display: block;
    background: none;
    width: 100%;
}

.marignleftcode {
    margin-left: 5px !important;
}

.preset-name {
    text-decoration: underline;
}

.preset-funcs {
    width: 100%;
    text-align: right;
}

code {
    background: #1d1d1d;
    border-radius: 3px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: white !important;
}

code.multiline {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.sidebar-double-button {
    display: flex;
    gap: 5px;
}

.sidebar-double-button>.function-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.function-btn>#function-icon {
    font-size: 20px;
}

.function-btn>#function-name {
    text-transform: uppercase !important;
    font-size: 14px;
}

.function-settings {
    width: 36px;
    display: flex !important;
    justify-content: center;
}

.function-settings>.material-icons {
    margin-right: 0 !important;
}

.divider {
    background-color: rgb(68, 68, 68) !important
}

.account-information {
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    align-content: center;
    height: 150px;
    margin-left: 5%;
}

#account-information-perms {
    background-color: #698daf;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.account-information-user {
    display: grid;
    gap: 10px;
}

.account-information-user>li {
    gap: 5px;
}

.account-information-name {
    display: flex;
    gap: 5px;
    align-items: center;
}

#account_username,
#account_id {
    text-shadow: 0 0 20px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000;
    margin-left: 10px;
}

#account_username {
    font-size: 17px;
    font-weight: bold;
}

#account_id {
    font-size: 12px;
}

.account-logout,
.account-login {
    border-radius: 10em !important;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 25px !important;
    height: 25px !important;
    box-shadow: none !important;
}

.account-login {
    margin-left: 10px !important;
    width: 40px !important;
    height: 40px !important;
}

.account-login>.material-icons {
    font-size: 25px !important;
}

.account-logout:hover,
.account-login {
    box-shadow: none !important;
    border: none !important;
}

.account-logout>.material-icons,
.account-login>.material-icons {
    color: white;
    font-size: 18px;
}

.glu-statistics {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    font-size: 12px;
    justify-content: left;
    padding: 10px;
}

.glu-statistic {
    font-family: monospace;
    display: flex;
}

.glu-statistic-name {
    margin-right: 5px;
}

.glu-statistic-value {
    margin-left: auto;
    outline: solid 1px #353535;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.sidenav-footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 290px;
}

.sidenav-footer-content {
    display: flex;
    align-items: center;
    gap: 3px;
}

.copyrightthing {
    margin-left: auto;
    margin-right: 10px;
}

.glu-updates {
    max-height: 35%;
    padding: 10px;
    overflow: hidden auto;
}

.glu-update-item {
    display: grid;
}

.glu-update-date {
    text-align: left;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.glu-update-content-list {
    display: grid;
    gap: 10px;
    text-wrap: nowrap;
}

.glu-update-content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.glu-update-content::before {
    content: "\2022";
    margin-right: 5px;
}

.glu-update-content>code {
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
}

.account-logout[disabled]>.material-icons {
    filter: blur(1px);
}

@media only screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
        height: 180px;
        border-top: solid 1px rgb(66, 66, 66);
    }

    .sidebar-buttons>button {
        font-size: 10px;
    }

    .main {
        display: grid;
    }

    .material-tooltip {
        display: none !important;
    }
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
        min-width: 100% !important;
        bottom: 0% !important;
        top: 90% !important;
        right: 0% !important;
        left: 0% !important;
    }
}