/* THEMES */

:root {
    --rippleColor: rgba(255, 255, 255, 0.25)
}

:root.dark {
    --primaryBg: #1e1e1e;
    --secondaryBg: #161616;
    --borderPrimary: #393939;
    --borderSecondary: #2d2d2d;

    --primaryText: #e4e4e4;
    --secondaryText: #d6d6d6;
    --grayText: #808080;
    --greenText: #4caf50;
    --orangeText: #c57224;
    --redText: #c83c3c;

    --primaryBtn: #232323;
    --hoverBtn: #282828;
    --activeBtn: #2e2e2e;
}

:root.light {
    --primaryBg: #ffffff;
    --secondaryBg: #f2f2f2;
    --borderPrimary: #d0d0d0;
    --borderSecondary: #c2c2c2;

    --primaryText: #1a1a1a;
    --secondaryText: #3a3a3a;
    --grayText: #5a5a5a;
    --greenText: #2e7d32;
    --orangeText: #a85a00;
    --redText: #b12626;

    --primaryBtn: #e5e5e5;
    --hoverBtn: #dcdcdc;
    --activeBtn: #d3d3d3;

    --rippleColor: rgba(0, 0, 0, 0.25)
}

:root.cyber {
    --primaryBg: #0a0a0f;
    --secondaryBg: #0f0f17;
    --borderPrimary: #2f2f3b;
    --borderSecondary: #262630;

    --primaryText: #e0e0e0;
    --secondaryText: #bfbfbf;
    --grayText: #8a8a8a;

    --greenText: #39ff14;
    --orangeText: #ff9f1c;
    --redText: #ff0054;

    --primaryBtn: #1a1a20;
    --hoverBtn: #23232d;
    --activeBtn: #2c2c35;
}

:root.deepspace {
    --primaryBg: #0b0c1a;
    --secondaryBg: #14152c;
    --borderPrimary: #2a2b44;
    --borderSecondary: #1e1f33;

    --primaryText: #e0e0e0;
    --secondaryText: #bfbfbf;
    --grayText: #8a8a8a;

    --greenText: #39ff14;
    --orangeText: #ff9f1c;
    --redText: #ff0054;

    --primaryBtn: #1a1b33;
    --hoverBtn: #212343;
    --activeBtn: #292d55;
}

:root.darkplum {
    --primaryBg: #1c0d1a;
    --secondaryBg: #2a142c;
    --borderPrimary: #3d203d;
    --borderSecondary: #2f1830;

    --primaryText: #e6e0eb;
    --secondaryText: #cfc0d9;
    --grayText: #9b8fa5;

    --greenText: #39ff14;
    --orangeText: #ffb347;
    --redText: #ff4d6d;

    --primaryBtn: #3a1f3d;
    --hoverBtn: #47254f;
    --activeBtn: #562a61;
}

:root.darkforest {
    --primaryBg: #0a1a0f;
    --secondaryBg: #102816;
    --borderPrimary: rgb(37, 75, 40);
    --borderSecondary: rgb(24, 60, 38);

    --primaryText: #e0e0d8;
    --secondaryText: #cfcfc0;
    --grayText: #c9c9b1;

    --greenText: #39ff14;
    --orangeText: #ff9f1c;
    --redText: #ff0054;

    --primaryBtn: #183322;
    --hoverBtn: #214433;
    --activeBtn: #2a5544;
}

:root.darkburgundy {
    --primaryBg: #2a0a0f;
    --secondaryBg: #3b141a;
    --borderPrimary: #5c1f28;
    --borderSecondary: #4a1a20;

    --primaryText: #f0e0e0;
    --secondaryText: #d9cfcf;
    --grayText: #a58b8b;

    --greenText: #39ff14;
    --orangeText: #ffb347;
    --redText: #ff4d6d;

    --primaryBtn: #4c1d24;
    --hoverBtn: #5b242d;
    --activeBtn: #6a2c36;
}

/* CORE */

/*just temp REMOVED ON PROD*/
.editor {
    user-select: none;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    scrollbar-width: thin;
    -webkit-tap-highlight-color: transparent;
}

.noaminations,
.noaminations * {
    transition: none !important;
}

button {
    -webkit-touch-callout: none;
}

html,
body {
    font-family: Segoe UI;
    color: var(--primaryText);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--secondaryBg);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.show {
    display: inline-block !important;
}

.hide {
    display: none !important;
}

.ide {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    width: 100%;
}

.ide>.editor {
    width: 100%;
    overflow: hidden;
    background-color: #1e1e1e;
}

.red-text {
    color: var(--redText) !important;
}

.green-text {
    color: var(--greenText) !important;
}

.orange-text {
    color: var(--orangeText) !important;
}

/*TOOLBOX*/

.toolbox {
    background: var(--secondaryBg);
    width: 15em;
    padding: 5px 10px 10px 10px;
    border-left: solid 1px var(--borderPrimary);
    border-right: solid 1px var(--borderPrimary);
    overflow: auto;
    scrollbar-width: none;
    user-select: none;
}

.toolbox-header {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: left;
    margin-bottom: .75em;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--borderPrimary);
}

.toolbox-title {
    font-size: 16px;
}

.toolbox-version {
    font-family: "Google Sans Code", monospace;
    color: var(--grayText);
    font-size: 8px;
    font-weight: 500;
}

.toolbox-header-buttons {
    position: absolute;
    display: flex;
    right: 0;
    top: .25em;
    gap: .1em;
}

.toolbox-tabs {
    background-color: var(--secondaryBg);
    padding: 10px;
    display: none;
    gap: 5px;
    height: 2em;
    border-top: solid 1px var(--borderPrimary);
}

.toolbox-tabs>.btn-group {
    width: 100%;
}

.toolbox-tabs>.btn-group>.btn {
    position: relative;
    justify-content: center;
    padding-left: 5px !important;
    font-size: 14px;
    font-weight: 400;
}

.toolbox-tabs>.btn-group>.btn.selected {
    background-color: var(--activeBtn);
}

.toolbox-tabs>.btn-group>.btn>#toolbox-tab-icon {
    position: absolute;
    left: 0.5em;
    font-size: 16px;
}

.toolbox-tabs>.btn-group>.btn:last-child>#toolbox-tab-icon {
    font-size: 18px;
}

.toolbox-categories {
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbox-category {
    position: relative;
    text-align: center;
    width: 100%;
}

.toolbox-category-header {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--primaryBtn);
    color: var(--secondaryText);
    border-bottom: solid 1px var(--borderPrimary);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .15s, transform .15s;
}

.toolbox-category.minimized>.toolbox-category-header {
    border-radius: 3px;
    border-bottom: none;
}

.toolbox-category.minimized>.toolbox-category-header>.toolbox-category-arrow {
    rotate: 0deg;
}

.toolbox-category.minimized>.toolbox-category-functions {
    grid-template-rows: 0fr;
    opacity: 0;
    scale: 0.8;
    transform-origin: top center;
}

.toolbox-category-arrow {
    rotate: 90deg;
    position: absolute;
    left: 0;
    transition: rotate .25s;
    height: 25px;
    width: 25px;
    top: .20em;
}

.toolbox-category-title {
    font-size: 14px;
}

.toolbox-category-functions {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows .3s ease, opacity .15s, scale .15s;
}

.toolbox-category-functions>.toolbox-category-functions-inner {
    display: grid;
    overflow: hidden;
    width: 100%;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: max-content;
    border-radius: 3px;
    gap: 5px;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    color: var(--primaryText);
    background-color: var(--primaryBtn);
    border: transparent;
    outline: none;
    cursor: pointer;
    transform-origin: center;
    transition:
        background-color 0.15s,
        transform 0.15s,
        border 0.25s,
        color .15s,
        border-radius .15s;
}

.btn.btn-small {
    min-width: 2.5em;
}

.btn.btn-medium {
    min-width: 5em;
}

.btn.btn-big {
    min-width: 7.5em;
}

.btn.btn-full {
    width: 100%;
}

.btn.center {
    justify-content: center;
}

.btn>.loader {
    position: absolute;
    left: calc(50% - 2.5em);
    scale: 30%;
}

.btn.rounded {
    border-radius: 3px !important;
}

.btn-seperator {
    position: absolute;
    width: 95%;
    left: .5em;
    bottom: 0;
    height: 1px;
    background-color: var(--borderSecondary);
}

.btn>#function-icon {
    position: absolute;
    right: .5em;
    font-size: 21px;
    border-left: solid 1px var(--borderPrimary);
    padding-left: 5px;
}

.btn>#function-name {
    text-transform: uppercase !important;
    font-size: 14px;
    max-width: 12em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn:not(:last-child) {
    padding-left: 10px;
}

.btn-group {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
}

.btn-group.vertical:has(.nogap)>.btn,
.btn-group.vertical:has(.nogap)>.inner>.btn {
    border-radius: 0;
}

.btn-group.vertical:has(.nogap)>.btn:last-child,
.btn-group.vertical:has(.nogap)>.inner>.btn:last-child {
    border-radius: 0 0 3px 3px;
}

.btn-group.horizontal:has(.nogap)>.btn:first-child,
.btn-group.horizontal:has(.nogap)>.inner>.btn:first-child {
    border-radius: 3px 0 0 3px;
}

.btn-group.horizontal:has(.nogap)>.btn:last-child,
.btn-group.horizontal:has(.nogap)>.inner>.btn:last-child {
    border-radius: 0 3px 3px 0;
}

.btn-group.flex {
    display: flex !important;
}

.btn-group.nogap {
    gap: 0;
}

.btn-group.nogap>.btn:not(:first-child):not(:last-child),
.btn-group.nogap>.inner>.btn:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}

.btn-group.nogap>.btn:first-child,
.btn-group.nogap>.inner>.btn:first-child {
    border-radius: 3px 0 0 3px !important;
}

.btn-group.nogap>.btn:last-child,
.btn-group.nogap>.inner>.btn:last-child {
    border-radius: 0 3px 3px 0 !important;
}

.btn-group>.btn.separator-border:first-child,
.btn-group>.inner>.btn.separator-border:first-child {
    border-right: solid 1px var(--borderSecondary);
}

.btn-group>.btn.separator-border:last-child,
.btn-group>.inner>.btn.separator-border:last-child {
    border-left: solid 1px var(--borderSecondary);
}

.btn-group.btn-seperators>.btn:not(:first-child) {
    border-left: solid 1px var(--borderSecondary);
}

.btn-group.btn-seperators>.btn:active+.btn,
.btn-group.btn-seperators>.btn:active {
    border-left: solid 1px transparent;
}

.btn:last-child>.btn-seperator {
    display: none;
}

.btn:hover:not(.disabled),
.toolbox-category-header:hover {
    background-color: var(--hoverBtn);
}

.btn:active:not(.disabled):not(.noscaleanim),
.toolbox-category-header:active:not(.noscaleanim) {
    transform: scale(0.97);
}

.btn:active:not(.disabled):not(.ripple-effect),
.toolbox-category-header:active {
    background-color: var(--activeBtn);
}

.btn:active:not(.disabled)>.btn-seperator {
    background-color: transparent;
}

.btn.disabled {
    color: var(--borderPrimary);
    filter: blur(0.5px);
}

.toolbox-category:has(.toolbox-category-header:active) .toolbox-category-functions>.toolbox-category-functions-inner>:first-child {
    border-radius: 3px 3px 0 0;
}

.toolbox-categories.disabled .btn,
.toolbox-category.disabled .btn {
    color: var(--borderPrimary);
    pointer-events: none;
    filter: blur(0.5px);
}

/*CONSOLE*/

.console {
    position: relative;
    font-family: "Google Sans Code", monospace;
    background: var(--secondaryBg);
    height: 12.5em;
    border-top: solid 1px var(--borderPrimary);
    font-size: 12px;
    overflow: auto;
}

.console>.console-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 3px 10px;
}

.console>.console-content>.console-output::before {
    content: var(--timestamp, '00:00:00.000 ');
    color: var(--grayText);
}

.console-content>.console-output.info-output {
    color: var(--greenText);
}

.console-content>.console-output.warn-output {
    color: var(--orangeText);
}

.console-content>.console-output.error-output {
    color: var(--redText);
}

.resize-handle {
    width: 100%;
    height: 7px;
    cursor: ns-resize;
    position: sticky;
    top: 0;
    left: 0;
}

.resize-handle:active {
    border-top: solid 1px var(--borderPrimary);
}

.console:has(.resize-handle:active) .console-content {
    padding-top: 2px;
    user-select: none;
}

/* SETTINGS MODAL */

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 15%;
    z-index: 1000;
    background-color: var(--secondaryBg);
    width: 55%;
    border-radius: 0.35em;
    overflow-y: auto;
    height: 60%;
    max-height: 60%;
    margin: auto;
    scale: 1;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px 5px;
    transform-origin: center top;
    transition: scale .5s, opacity .25s;
    will-change: scale, opacity;
}

.modal-content {
    margin: 5px;
    padding: 1em;
    max-height: 100%;
    overflow: auto;
}

.modal-header {
    border-bottom: solid 1px var(--borderSecondary);
    padding: 1em 1.5em;
}

.modal-header>.modal-title {
    font-size: 2em;
    font-weight: 600;
}

.modal-footer {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    min-height: 2.25em;
    padding: 0.5em;
    border-top: solid 1px var(--borderSecondary);
}

.modal-footer>.modal-footer-right,
.modal-footer>.modal-footer-left {
    height: 100%;
    width: 100%;
}

.modal-footer>.modal-footer-left {
    order: 0;
    justify-content: left;
}

.modal-footer>.modal-footer-right {
    order: 1;
    justify-content: right;
}

.modal-overlay {
    position: fixed;
    inset: -25% 0 0;
    height: 125%;
    width: 100%;
    background-color: black;
    z-index: 999;
    display: block;
    opacity: 0.5;
    pointer-events: all;
    transition: opacity 250ms ease-out;
    will-change: opacity;
}

.modal.hide {
    pointer-events: none;
    display: flex !important;
    scale: 0.5 !important;
    opacity: 0;
    transform-origin: center bottom;
}

.modal-overlay.hide {
    pointer-events: none;
    display: block !important;
    opacity: 0;
}

@media only screen and (max-width: 1000px) {
    .modal {
        width: 80%;
        top: 10%;
    }
}

@media only screen and (max-height: 850px) {
    .modal {
        height: 70%;
        max-height: 70%;
    }
}

/* ROUND BUTTON */

.round-button {
    position: relative;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: var(--primaryText);
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 10em;
    transition: scale .15s;
}

.round-button:hover {
    scale: 1.05;
}

.round-button:active {
    scale: .95;
}

.round-button>.material-icons {
    position: absolute;
    left: 0;
    top: .25em;
    width: 100%;
    height: 100%;
    font-size: 17px;
}

/* BUTTON RIPPLE */

.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple-effect>* {
    pointer-events: none !important;
}

.ripple-effect .ripple {
    position: absolute;
    background: var(--rippleColor);
    border-radius: 50%;
    transform: scale(0);
    transition: transform var(--ripple-speed) ease-out, opacity 0.5s ease-out;
    pointer-events: none;
    --ripple-scale: 3;
    --ripple-speed: 1.75s
}

/* LOADING SPINNER */

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--secondaryBg);
    border-right-color: var(--grayText);
    animation: loaderSpinner 1s infinite linear;
}

@keyframes loaderSpinner {
    to {
        transform: rotate(1turn)
    }
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* RESPONSIVES */

@media only screen and (min-width: 501px) {
    .toolbox {
        display: block !important;
    }
}


@media only screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }

    .toolbox {
        width: calc(100% - 20px);
        height: 13em;
        border-top: solid 1px var(--borderPrimary);
        border-left: none;
        padding: 10px;
    }

    .toolbox-tabs {
        display: flex;
    }

    .toolbox-header {
        display: none;
    }

    .console {
        display: none;
        height: 13em;
    }
}